{%extends "base.html"%}
{% load crispy_forms_tags %}

{%block head%}
<script type="text/javascript">

    document.addEventListener("DOMContentLoaded", function(){
        {%include "subject/subject_home/subject_home.js"%}
    });

</script>

<style>

    .chat {       
        width: 100%;
        height: 300px;
        word-breaK:break-word;
        overflow-y:scroll;
        background-color: ghostwhite;
        display:flex; 
        flex-direction:column-reverse;
    }

    .instructions{
        height: 300px;
        overflow-y:scroll;
    }
       
</style>

{%endblock head%}

{% block content %}

<!-- modals -->

<div v-if="session">
    <!-- instructions -->
    <div class="row justify-content-lg-center mt-4" v-cloak v-show="session.current_experiment_phase == 'Instructions'">
        <div class="col-md">
            {%include "subject/subject_home/instructions_card.html"%}
        </div>
    </div>

<!-- experiment -->
<div class="row justify-content-lg-center mt-4" v-cloak v-show="session.current_experiment_phase != 'Done'">
    <div class="col-md-9">
        {%include "subject/subject_home/chat_card.html"%}                
    </div>
    <div class="col-md-3">
        <div class="row">
            <div class="col-md">
                {%include "subject/subject_home/summary_card.html"%}
            </div>            
        </div>     
    </div>
</div>

    <div class="row justify-content-lg-center mt-4" v-cloak v-show="session.current_experiment_phase == 'Done'">
        <div class="col-12 fs-4 fw-bold text-center">
            <br>
            <br>
            <br>
            <br>
            The session is complete, thank you for your participation!              
        </div>    
    </div>

    <div class="row justify-content-lg-center mt-4">
        <div class="col-12 text-end text-muted">
            <span class="align-middle">Client [[session_player.player_number]]</span>
        </div>  
    </div>
</div>
<div v-else>
    <div class="col text-end">
        <i class="fas fa-cog fa-spin fa-2x"></i>
    </div>
</div>



{% endblock %}