<div class="card">                  
    <div class="card-header">
        <span v-show="reconnecting">
            Connecting <i class="fas fa-cog fa-spin fa-1x"></i>
        </span>

        <span class="float-end">
            <button class="btn btn-outline-success" type="button" v-on:click = "send_create_session()" v-bind:disabled = "reconnecting || working">
                <span v-html="create_session_button_text"></span>
            </button>
        </span>
                                                        
    </div>
    <div class="card-body">                      
                        
        <!-- session list -->
        <table class="table table-hover table-condensed table-responsive-md">                            

            <caption style="caption-side:top;text-align: center;">Sessions</caption>

            <thead>
                <th scope="col">
                    <button type="button" class="btn btn-outline-link btn-sm" v-on:click = "sort_by_title()">
                        <span v-html="title_sort_button_text" class="table_header"></span>
                    </button>
                </th> 
                <th scope="col" class="text-center">
                    <button type="button" class="btn btn-outline-link btn-sm" v-on:click = "sort_by_date()">
                        <span v-html="date_sort_button_text" class="table_header"></span>
                    </button>                             
                </th>                                                              
                <th scope="col" class="text-center">
                    Control
                </th>
            </thead>

            <tbody id="sessionList">                                                  
                <tr v-for="(s,index) in sessions" v-bind:key="s.id">                                                                          
                    <td> 
                        <a :href="'/staff-session/' + s.id + '/' "><span v-html="s.title"></span></a>                                        
                    </td>
                    <td class="text-center"> 
                        [[format_date(s.start_date)]]                             
                    </td>
                    <td class="text-center">
                        <div v-if="s.locked">
                            Locked
                        </div>
                        <div v-else>
                            <button v-bind:id="'deleteSession' + s.id"
                                    type="button"
                                    class="btn btn-outline-danger btn-sm"
                                    v-on:click = "send_delete_session(s.id)"
                                    title = "Delete session and its data."
                                    v-bind:disabled = "reconnecting || working">
                                Delete <i class="fas fa-user-minus fa-xs"></i>  
                            </button>
                        </div>                        
                    </td>
                </tr>                                                    
            </tbody>
            
        </table>                 
        
    </div>                    
</div>