<div class="card">                  
    <div class="card-header fw-bold">                
        <span class="align-middle">
            General Settings
        </span>  
        
        <span class="float-end">
            <button type="button" class="btn btn-link ms-4" title="Show Help Doc" v-on:click="send_load_help_doc('Staff Parameters General')">
                <i class="far fa-question-circle"></i> 
            </button>
        </span>
    </div>
    <div class="card-body">        
       
        <!-- parameterset settings -->        
        <div class="row">
            <div class="col-7 text-end">
                {{parameter_set_form.period_count.label}}:
            </div>
            <div class="col text-start">
                [[parameter_set.period_count]]
            </div>
        </div>
        <div class="row">
            <div class="col-7 text-end">
                {{parameter_set_form.period_length.label}}:
            </div>
            <div class="col text-start">
                [[parameter_set.period_length]]
            </div>
        </div>
        <div class="row">
            <div class="col-7 text-end">
                {{parameter_set_form.private_chat.label}}:                
            </div>
            <div class="col text-start">
                <span v-if="parameter_set.private_chat=='True'">Yes</span><span v-else>No</span>                
            </div>  
        </div>
        <div class="row">
            <div class="col-7 text-end">
                {{parameter_set_form.show_instructions.label}}:                
            </div>
            <div class="col text-start">
                <span v-if="parameter_set.show_instructions=='True'">Yes</span><span v-else>No</span>                
            </div>  
        </div> 
        <div class="row">
            <div class="col-7 text-end">
                {{parameter_set_form.instruction_set.label}}:                
            </div>
            <div class="col text-start">
                [[parameter_set.instruction_set.label]]                
            </div>  
        </div> 
        <div class="row">
            <div class="col-7 text-end">
                {{parameter_set_form.survey_required.label}}:                
            </div>
            <div class="col text-start">
                <span v-if="parameter_set.survey_required=='True'">Yes</span><span v-else>No</span>                
            </div>  
        </div>
        <div class="row">
            <div class="col-7 text-end">
                {{parameter_set_form.prolific_mode.label}}:                
            </div>
            <div class="col text-start">
                <span v-if="parameter_set.prolific_mode=='True'">Yes</span><span v-else>No</span>                
            </div>  
        </div>
        <div class="row">
            <div class="col-7 text-end">
                {{parameter_set_form.test_mode.label}}:                
            </div>
            <div class="col text-start">
                <span v-if="parameter_set.test_mode=='True'">Yes</span><span v-else>No</span>                
            </div>  
        </div>        
        <div class="row justify-content-center">
            <div class="col-md text-center mb-2 mt-2">
                <button class="btn btn-outline-primary"
                        type="button"
                        title="General Settings"
                        v-bind:disabled="session.started || reconnecting || working"
                        v-on:click="show_edit_parameter_set()">
                    Edit <i class="far fa-edit"></i>
                </button>
            </div>
        </div>
        
    </div>                    
</div> 